
.memune_logo {
    font-family: 'Comfortaa', cursive;
}

.memune_footer_button {
    font-size: .6rem;
}

.memune_footer {
    text-align: center;
    margin-top: 2rem;
}

.memune_header {
    text-align:center;
    margin: 2rem 0;
}